* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    padding: 20px 10%;
    background: #081b29;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 20px;
    color: #00ffaa;
    text-decoration: none;
    font-weight: 600;
}

.logo:hover {
    color: #ff0000;
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover {
    color: #00abf0;
}

.navbar a.active {
    color: #00abf0;
}

.home {
    background: url(home.jpg) no-repeat;
    height: 100vh;
    padding: 0 10%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.project,
.pz,
.pm {
    margin-top: 50px;
    color: #ededed;
    text-align: center;
}

.project a,
.pz a,
.pm a {
    color: #00abf0;
    text-decoration: none;
}

footer {
    background: #081b29;
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: #00abf0;
    font-size: 40px;
}

footer p {
    margin-top: 10px;
    font-size: 14px;
    color: #ededed;
}

@media (max-width: 600px) {
    .header {
        padding: 20px 5%;
    }

    .navbar {
        flex-wrap: wrap;
        justify-content: center;
    }

    .navbar a {
        margin: 5px;
    }

    .home {
        padding: 0 5%;
    }

    .project,
    .pz,
    .pm {
        margin-top: 30px;
    }
}
}
