* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #ededed;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Added min-height to ensure footer stays at the bottom */
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    left: 0;
    padding: 20px 10%;
    background: #081b29;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 20px;
    color: #00ffaa;
    text-decoration: none;
    font-weight: 600;
}

.logo:hover {
    color: #ff0000;
}

.navbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin: 10px;
    transition: .3s;
}

.navbar a:hover {
    color: #00abf0;
}

.navbar a.active {
    color: #00abf0;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 10%;
    background: url('home.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.aa {
    color: #00abf0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 32px;
}

.home-content {
    max-width: 600px;
    margin-top: 100px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 600;
    margin-bottom: 20px;
}

.home-content p {
    font-size: 18px;
    margin: 20px 0 40px;
}

.home-content h2 {
    font-size: 32px;
    font-weight: 600;
    margin: 40px 0 20px;
}

.home-content p li {
    margin-bottom: 10px;
}

.home-content .btn-box {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    width: 150px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    margin: 10px;
}

.btn-box a:hover {
    color: #00abf0;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background: #00abf0;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    margin-top: 40px;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    margin-right: 10px;
}

.home-sci a:hover {
    color: #081b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

@keyframes showdown {
    0% {
        transform: scale(1.1);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.animated-showdown {
    animation: showdown 1s ease-out;
}

footer {
    background: #081b29;
    text-align: center;
    padding: 20px;
    margin-top: auto; /* Added to push the footer to the bottom */
}

footer a {
    color: #00abf0;
    font-size: 40px;
}

footer p {
    margin-top: 10px;
    color: #ededed;
    font-size: 14px;
}

@media only screen and (min-width: 768px) {
    .header {
        position: sticky;
        background: #081b29;
    }

    .navbar {
        justify-content: flex-end;
        flex-wrap: nowrap;
    }

    .navbar a {
        margin: 0 10px;
    }

    .home {
        height: 100vh;
        padding-top: 150px;
        padding-bottom: 50px;
    }

    .home-content {
        margin-top: 0;
    }

    .home-content h1 {
        font-size: 56px;
    }

    .home-content h2 {
        font-size: 32px;
    }

    .home-content p {
        font-size: 18px;
    }
}

@media only screen and (min-width: 1024px) {
    .home-content {
        max-width: 800px;
    }

    .home-content h1 {
        font-size: 72px;
    }

    .home-content h2 {
        font-size: 40px;
    }

    .home-content p {
        font-size: 20px;
    }
}
