* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #ededed;
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    left: 0;
    padding: 20px 10%;
    background: #081b29;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 20px;
    color: #00ffaa;
    text-decoration: none;
    font-weight: 600;
}

.logo:hover {
    color: #ff0000;
}

.navbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin: 10px;
    transition: .3s;
}

.navbar a:hover {
    color: #00abf0;
}

.navbar a.active {
    color: #00abf0;
}


.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 10%;
    background: url('home.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.aa {
    color: #00abf0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 32px;
}

.home-content {
    text-align: center;
    max-width: 600px;
    margin-top: 100px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 20px;
}

.home-content p {
    font-size: 30px;
    margin: 20px 0 40px;
}

.home-content a {
    display: block;
    color: #00abf0;
    font-size: 30px;
    margin-top: 40px;
    text-decoration: none;
}

.home-sci {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 170px;
}

.home-sci a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    overflow: hidden;
}

.home-sci a:hover {
    color: #081b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

@keyframes showdown {
    0% {
        transform: scale(1.1);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.animated-showdown {
    animation: showdown 1s ease-out;
}

footer {
    background: #081b29;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    color: #ededed;
    font-size: 14px;
    margin-top: 10px;
}

footer a {
    color: #00abf0;
    font-size: 40px;
}

@media screen and (min-width: 768px) {
    .header {
        position: sticky;
        background: #081b29;
    }

    .navbar {
        justify-content: flex-end;
        flex-wrap: nowrap;
    }

    .navbar a {
        margin: 0 10px;
    }
    .home-content {
        text-align: left;
    }

    .home-content h1 {
        font-size: 56px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .home-content p {
        font-size: 30px;
        margin: 20px 0 40px;
    }

    .home-content a {
        display: inline-block;
        margin-top: 40px;
    }

    footer {
        position: static;
        margin-top: 800px;
    }
}
